@model CreacionesPajov.WEB.Models.Entities.Remision

@{ Layout = null; }

<style>
    span.text-danger.field-validation-error, #CantidadPrendas-error, #Direccion-error, #FechaSalida-error, #Observacion-error, #FaseId-error, #Encargado-error {
        font-size: 12px;
    }
</style>


<body style="background-color: #eee;">

    <form asp-action="Crear" id="formulario" onsubmit="return jQueryAjaxPost (this, 'Crear remision','¿Desea crear el remision?'); ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="CantidadPrendas" class="control-label"></label>
                    <input type="text" asp-for="CantidadPrendas" class="input-crear form-control" />
                    <span asp-validation-for="CantidadPrendas" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input type="text" asp-for="Direccion" class="input-crear form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="FechaSalida" class="control-label"></label>
                    <input type="date" asp-for="FechaSalida" class="input-crear form-control" />
                    <span asp-validation-for="FechaSalida" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="Observacion" class="control-label"></label>
                    <input type="text" asp-for="Observacion" class="input-crear form-control" />
                    <span asp-validation-for="Observacion" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="FaseId" class="control-label"></label>
                    <select asp-for="FaseId" asp-items="ViewBag.Fases" class="input-crear form-control">
                        <option disabled selected>----Seleccione----</option>
                    </select>
                    <span asp-validation-for="FaseId" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="Encargado" class="control-label"></label>
                    <input type="text" asp-for="Encargado" class="input-crear form-control" />
                    <span asp-validation-for="Encargado" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />
        <center>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn boton-crear" />
            </div>
        </center>
        <br />
    </form>

</body>

@*<form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input type="text" asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </form>*@
<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")