@model CreacionesPajov.WEB.Models.Dtos.SubFases.SubFaseDto

@{ Layout = null; }

<style>
    span.text-danger.field-validation-error, #Nombre-error, #Descripcion-error, #OperacionId-error, #FaseId-error {
        font-size: 12px;
    }
</style>


<body style="background-color: #eee;">

    <form asp-action="Crear" id="formulario" onsubmit="return jQueryAjaxPost (this, 'Crear subfase','¿Desea crear el subfase?'); ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input type="text" asp-for="Nombre" class="input-crear form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input type="text" asp-for="Descripcion" class="input-crear form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="OperacionId" class="control-label"></label>
                    <select asp-for="OperacionId" asp-items="ViewBag.Operaciones" class="input-crear form-control">
                        <option disabled selected>----Seleccione----</option>
                    </select>
                    <span asp-validation-for="OperacionId" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="FaseId" class="control-label"></label>
                    <select asp-for="FaseId" asp-items="ViewBag.Fases" class="input-crear form-control">
                        <option disabled selected>----Seleccione----</option>
                    </select>
                    <span asp-validation-for="FaseId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <center>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn boton-crear" />
            </div>
        </center>
        <br />
    </form>

</body>

@*<form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input type="text" asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </form>*@
<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")