@model CreacionesPajov.WEB.Models.Entities.Fase
@{ Layout = null; }


<h1>@ViewBag.Titulo</h1>
<br />

<style>
    span.text-danger.field-validation-error, #Nombre-error, #Descripcion-error {
        font-size: 12px;
    }
</style>


<input type="hidden" asp-for="FaseId" />
<input type="hidden" asp-for="Estado" />

<body style="background-color: #eee;">

    <form asp-action="Editar" id="formulario" onsubmit="return jQueryAjaxPost(this, 'Editar Fase','¿Desea Editar el Fase?'); ">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input type="hidden" asp-for="FaseId" />
                    <input type="text" asp-for="Nombre" class="input-editar form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input type="text" asp-for="Descripcion" class="input-editar form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <center>
            <div class="form-group">
                <input type="submit" value="Editar Fase" class="btn boton-editar" />
            </div>
        </center>
        <br />
    </form>

</body>

@*<form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input type="text" asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </form>*@
<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")