@model CreacionesPajov.WEB.Models.Entities.ProveedorHilo

<br />

@{
    Layout = null; 
}

@*<style>
    span.text-danger.field-validation-error, #NIT-error, #Nombre-error, #Direccion-error, #Email-error, #Telefono-error {
        font-size: 13px;
    }
</style>*@

<body style="background-color: #eee;">

    <form asp-action="Crear" id="formulario" onsubmit="return jQueryAjaxPost (this, 'Crear Proveedor Hilo','¿Desea crear el proveedor de hilo?'); ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="NIT" class="control-label"></label>
                    <input type="text" asp-for="NIT" class="input-crear form-control" />
                    <span asp-validation-for="NIT" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input type="text" asp-for="Nombre" class="input-crear form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input type="text" asp-for="Telefono" class="input-crear form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="column">
                <div class="form-group column2">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="input-crear form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input type="text" asp-for="Direccion" class="input-crear-td form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <br />
        <center>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn boton-crear" />
            </div>
        </center>
        <br />
    </form>
    @*                </div>
            </div>
        </div>*@
</body>

@*<form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input type="text" asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </form>*@
<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")