@model CreacionesPajov.WEB.Models.Entities.ProveedorHilo
@{

    Layout = null;
}


<h1>@ViewBag.Titulo</h1>
<br />


<input type="hidden" asp-for="ProveedorHiloId" />
<input type="hidden" asp-for="Estado" />
<body style="background-color: #eee;">

    <form asp-action="Editar" id="formulario" onsubmit="return jQueryAjaxPost(this, 'Editar proveedor hilo','¿Desea Editar el proveedor hilo?'); ">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="form-group">
                <label asp-for="NIT" class="control-label"></label>
                <input type="hidden" asp-for="ProveedorHiloId" />
                <input type="text" asp-for="NIT" class="input-editar form-control" />
                <span asp-validation-for="NIT" class="text-danger"></span>
            </div>
            <div class="form-group column2">
                <label asp-for="Nombre" class="control-label"></label>
                <input type="text" asp-for="Nombre" class="input-editar form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input type="text" asp-for="Direccion" class="input-editar-td form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="input-editar form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group column2">
                <label asp-for="Telefono" class="control-label"></label>
                <input type="text" asp-for="Telefono" class="input-editar form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>

        <br />
        <center>
            <div class="form-group">
                <input type="submit" value="Editar Proveedor Hilo" class="btn boton-editar" />
            </div>
        </center>
        <br />
    </form>
    @*                </div>
            </div>
        </div>*@
</body>

@*<form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input type="text" asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </form>*@
<script src="~/js/site.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")